<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/materializecss")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo" style="font-family: 'Raleway', sans-serif;margin-left:5px">MOOVIEZ</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    
                </ul>
            </div>
        </nav>

    
    <div class="container body-content">
        @RenderBody()
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
        <script type="text/javascript">
            $(document).ready(function () {
                $('select').material_select();
            });
        </script>   
    @RenderSection("scripts", required: false)
</body>
</html>
